# vscode
.vscode 
.claude 
tests

backup
backup/*

# Intellij
*.iml
.idea

*/**.html

# npm
node_modules

# Build output
dist
docs 

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
style.css
styles.css

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store


# Exclude eslint configuration files 
.eslintrc

tmpclaude-*