/*
This is SCSS file for compile the CSS file for equation_citator plugin. 
*/
@use "popover";
@use "variables";
@use "settings";

/* Regular citation styles for live preview and reading mode */
.em-math-citation-container {
    position: relative;
    display: inline-block;
    cursor: default;
}

.em-math-citation,
.em-math-citaion-failed {
    font-family: var(--em-math-latex-font); 
    position: relative;
    padding: 1px 2px;
    pointer-events: auto;
    user-select: none;
    display: inline-block;
    color: var(--em-math-citation-color);
}

.em-math-citation-multi-delimiter{
    display: inline-block;
    color: var(--em-math-citation-color);
}

.em-math-citation:hover {
    cursor: pointer;
    color: var(--em-math-citation-hover-color);
}

.em-math-citation-file-superscript {
    font-family: var(--em-math-latex-font);  
    font-size: 0.7em;
    position: relative;
    vertical-align: super;
    margin-left: 1px;
    color: var(--em-math-citation-file-superscript-color);
    z-index: 10;
}

.em-math-citation-file-superscript:hover {
    cursor: pointer;
    color: var(--em-math-citation-file-superscript-hover-color);
}

/* 
when generating markdown for print pdf, 
    get following styles from stylesheets 
    (not add font-size for it!)
*/
.em-math-citation-container-print {
    cursor: default;
}

.em-math-citation-print {
    // not use font family or add any other styles with ", this is not saft in obsidian
    text-decoration: none;
    cursor: pointer;
}

.em-math-citation-file-superscript-print {
    // not use font family or add any other styles with ", this is not saft in obsidian 
    font-size: 0.7em;
    vertical-align: super;
    margin-left: 1px;
    text-decoration: none;
    cursor: pointer;
}

